/*************
Default styles
**************/

/********************
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Lato', sans-serif;

**********************/
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Oswald:400,500,600,700|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800|Roboto:300,300i,400,400i,500,500i,700,700i');

.mborder {
  border: 2px solid black;
}

html {
  box-sizing: border-box;
  
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  
}

h1, h2, h3, h4, h5 {
  text-shadow: 4px 4px 4px cadetblue
}

input {
  height: 2.5em;
  padding: 0.1em;
}

button {
  height: 2em;
  width: 9em;
  border-radius: 0.5em;
  font-size: 0.9em;
  background: darksalmon;
  border-color: rosybrown;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
}

button:hover, button:focus {
  background: rosybrown;
  color: cornsilk;
}
/*****************/

div.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section.upper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: cadetblue;
  padding-top: 3em;
}

.upper .fields {
  display: flex;
  flex-direction: row;
  width: 50%;
  border: 2px solid lightblue;
}
.upper .fields .add-box-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-box-container,
.myTextarea {
  flex-grow: 1;
  flex-basis: 0;
  padding: 2em;
}

.myTextarea {
  display: flex;
  background: aliceblue;
}

.add-label {
  padding: 1em;
}

input,
textarea {
  margin-top: 1em;
  margin-bottom: 1em;
}

.btn-container {
  display: flex;
  padding: 2em;
  justify-content: center;
}

.lower {
  display: flex;
  width: 100%;
  border-top: 4px dotted lightblue;
  background: cadetblue;
  border-bottom: 10px solid cadetblue;
}

.lower div {
  flex: 1;
  padding: 1em;
  background: aliceblue;
}

.edit-fields {
  display: flex;
  flex-direction: column;
}

.add-box-outer-container {
  display: flex;
  border: 2px solid cadetblue;
}
.add-box-container {
  display: flex;
  flex-direction: column;
  background: aliceblue;
}

ul {
  background: cadetblue;
}

ul li {
  list-style: none;
}
.contact-name-box {
  padding: 0.5em;
}

ul li {
  background: lightblue;
  padding: 0.6em;
  border-left: 2px solid lightblue;
  font-weight: bolder;
}

ul li:nth-child(even) {
  background: aliceblue;
  border-right: 0.5px solid lightblue;
  border-bottom: 0.5px solid cadetblue;
}

ul li:nth-child(odd) {
  background: cadetblue;
}

.edit-box-header {
  display: none;
}

.details-box-header {
  display: none;
}
