/*************
Default styles
**************/

.mborder {
  border: 2px solid black;
}

.enable-edit {
}

/*****************/

div.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section.upper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: cadetblue;
  padding-top: 3em;
}

.upper .fields {
  display: flex;
  flex-direction: row;
  width: 50%;
  border: 2px solid lightblue;
}
.upper .fields .add-box-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-box-container,
.myTextarea {
  flex-grow: 1;
  flex-basis: 0;
  padding: 2em;
}

.myTextarea {
  display: flex;
  background: aliceblue;
}

.add-label {
  padding: 1em;
}

input,
textarea {
  margin-top: 1em;
  margin-bottom: 1em;
}

.btn-container {
  display: flex;
  padding: 2em;
  justify-content: center;
}

.lower {
  display: flex;
  width: 100%;
  border-top: 4px dotted lightblue;
  background: cadetblue;
  border-bottom: 10px solid cadetblue;
}

.lower div {
  flex: 1;
  padding: 2em;
  background: aliceblue;
}

.edit-fields {
  display: flex;
  flex-direction: column;
}

.add-box-outer-container {
  display: flex;
  border: 2px solid cadetblue;
}
.add-box-container {
  display: flex;
  flex-direction: column;
  background: aliceblue;
}

ul {
  background: cadetblue;
}

ul li {
  list-style: none;
}
.contact-name-box {
  padding: 0.5em;
}

ul li {
  background: lightblue;
  padding: 0.6em;
  border-left: 2px solid lightblue;
  font-weight: bolder;
}

ul li:nth-child(even) {
  background: aliceblue;
  border-right: 0.5px solid lightblue;
  border-bottom: 0.5px solid cadetblue;
}

ul li:nth-child(odd) {
  background: cadetblue;
}

.edit-box-header {
  display: none;
}

.details-box-header {
  display: none;
}